<ifModule mod_headers.c>
03
    # Все html и htm файлы будут храниться в кэше браузера один день
04
    <FilesMatch "\.(html|htm)$">
05
        Header set Cache-Control "max-age=43200"
06
    </FilesMatch>
07
    # Все css, javascript и текстовые файлы будут храниться в кэше браузера одну неделю
08
    <FilesMatch "\.(js|css|txt)$">
09
        Header set Cache-Control "max-age=604800"
10
    </FilesMatch>
11
    # Все флэш файлы и изображения будут храниться в кэше браузера один месяц
12
    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png)$">
13
        Header set Cache-Control "max-age=2592000"
14
    </FilesMatch>
15
    # Отключаем кеширование php и других служебных файлов
16
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
17
        Header unset Cache-Control
18
    </FilesMatch>
19
</IfModule>
